<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<!--UPDATE THE TITLE-->
	<title>ERROR!</title>
	<div th:insert="~{partials :: header}" style="display: none"></div>
	<link rel="stylesheet" th:href="@{/JS/location-viewer.css}">
</head>
<body>
	<nav th:insert="~{partials :: navbar}"></nav>
	<div id="error">
		<div id="box"></div>
		<h3>ERROR 500</h3>
		<p>Things are a little <span>unstable</span> here</p>
		<p>Resolving issue, return later</p>
	</div>
	
	<footer th:replace="~{partials :: footer}"></footer>
</body>
</html>