@font-face {
    font-family: steel;
    src: url("../font/american_captain/American Captain.ttf");
}

* {
    box-sizing: border-box;
}

.profile-pic {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}

.card-img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.logo {
    width: 30px;
    height: 30px;
    object-fit: cover;
}

body {
    background-color: #0b3c5d;
    color: #d9b310;

    font-family: Serif;
    font-size: large;

    font-family: steel;

}

H1 {
    color: #d9b310;
    text-shadow: 2px 2px 2px #1d2731;
}

h2 {
    color: #328cc1;
    text-shadow: 2px 2px 2px #1d2731;
    font-family: steel;
}

h3 {
    color: #328cc1;
    text-shadow: 2px 2px 2px #1d2731;
    font-family: steel;
}

p {
    font-family: steel;

}

.tripLocationLabel {
    margin-right: 10px;
}

.tripLocationInput {
    margin-right: 100px;
}

.formFinalizeTrip {
    display: flex;
    justify-content: center;
    align-content: center;
}

.buttonFinalizeTrip {
    margin: 5px;
}

.tripDetailsSelect {
    margin-left: 15px;
}

.tripDetailsInput {
    margin-left: 10px;
    margin-right: 10px;
}

.pTripDetails {
    font-size: larger;
}

.chooseTripDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.chooseTripDateDiv {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardDivLocationBtn {
    width: 75%;
}

.tripDetailsForm {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1em;
    flex-wrap: wrap;
}

.pLocationViewer {
    font-size: larger;
}

.formLocationViewer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1d2731;
    margin-bottom: 20px;
    width: 65%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.saveLocationViewer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1d2731;
    flex-direction: column;
}

.titleLocationViewer {
    background-color: #1d2731;
    padding-left: 10px;
}

.divLocationViewer {
}

.picturesLocationViewer {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

}

.imgLocationViewer {
    margin-bottom: 10px;
    border: 5px solid #1d2731;
    margin-top: 10px;
}

.divProfile {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 3em;
}

.divTripCardsProfile {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.divCardEachProfile {
    margin: 20px;
    width: 45%;
}

.crudCardProfile {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.crudFormProfile {
    margin: 5px;
}

.divCardBody {
    font-size: large;
}

.headerTripView {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 3em;
}

.divViewTrip {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.divCardEachView {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    width: 65%;
}

.divCardBodyView {
    display: flex;
    /*align-items: center;*/
    flex-wrap: wrap;
    justify-content: center;
}

.insideDivCardBody {
    /*margin-left: 10px;*/
    /*margin-right: 10px;*/
    margin-right: 7em;
}

.divCardBodyView2 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.divDeleteLocation {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 10px;
}

.pViewTrip{
    font-size: x-large;
}

.inputTextChange{
    font-family: Serif;
}

.customTextForRegister{
    color: #adb5bd;
}