* {
    box-sizing: border-box;
}

.profile-pic {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}

body {
    background-color: #0b3c5d;
    color: #d9b310;
}

H1 {
    color: #d9b310;
}

h2 {
    color: #328cc1;
}
h3 {
    color: #328cc1;
}

