<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <title>Edit Password</title>
    <link rel="icon" type="image/x-icon" th:href="@{/images/logo.png}">
    <div th:insert="~{partials :: header}"></div>
    <div th:replace="~{partials :: css}"></div>
</head>
<body class="container-fluid">
<nav th:insert="~{partials :: navbar}"></nav>

<h1 class="d-flex justify-content-center mt-2">Edit Password</h1>
<div class="container">
    <form th:action="@{/account/edit/password}" th:object="${passwordHolder}" method="post">
        <div class="form-group">
            <label for="currentPassword">Current Password:</label>
            <input type="password" class="form-control bg-transparent text-warning" id="currentPassword" th:field="*{currentPassword}"/>
            <div id="passwordIsEmpty">Please Enter Your Current Password</div>
            <div th:if="${incorrectPW}">The password you entered is incorrect.</div>
            <br>
        </div>

        <div class="form-group">
            <label for="newPassword">New Password:</label>
            <input type="password" class="form-control bg-transparent text-warning" id="newPassword" th:field="*{newPassword}"/>
            <div id="newPasswordIsEmpty">Please Enter A New Password</div>
            <div id="passwordLengthEightOrGreater">Password Must Contain At Least 8 Characters</div>
            <div id="passwordHasUppercase">Password Must Contain At Least One Uppercase Letter</div>
            <div id="passwordHasLowercase">Password Must Contain At Least One Lowercase Letter</div>
            <div id="passwordHasNumber">Password Must Contain At Least One Number</div>
            <div id="passwordHasSpecialCharacter">Password Must Contain At Least One Special Character (!”#$%&'()*+,-./:;<=>?@[\]^_`{|}~ )</div>
            <br>
        </div>

        <div class="form-group">
            <label for="confirmNewPassword">Confirm Password:</label>
            <input type="password" class="form-control bg-transparent text-warning" id="confirmNewPassword"/>
            <div id="confirmNewPasswordIsEmpty">Please Confirm Your New Password</div>
            <div id="passwordsDoNotMatch">Passwords do not match</div>
            <br>
        </div>

        <button id="SubmitButton" type="submit" class="btn btn-info mt-2">Submit</button>

    </form>
</div>


<footer th:replace="~{partials :: footer}"></footer>
<script th:inline="javascript" type="text/javascript" th:src="@{/JS/accountEditPassword.js}"></script>
</body>
</html>