<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<meta charset="UTF-8">
	<title>Home Page</title>
	<div th:insert="~{partials :: header}"></div>
</head>
<body class="container-fluid">
	<nav th:insert="~{partials :: navbar}"></nav>
	
	<h1 class="d-flex justify-content-center">Javalocity</h1>
	<h2 class="d-flex justify-content-center"> Making your world smaller!</h2>
	<footer th:replace="~{partials :: footer}"></footer>

</body>
</html>