<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Trip view info</title>
    <div th:insert="~{partials :: header}"></div>
    <div th:replace="~{partials :: css}"></div>
</head>
<body>
<nav th:insert="~{partials :: navbar}"></nav>
<h1 class="d-flex justify-content-center mt-3">Trip selection information</h1>
<p class="d-flex justify-content-center mt-3">This is information about your selected hotel, restaurant, or attraction.</p>

<form class="ms-2" th:action="@{/location/viewer}" th:method="post">
<input type="hidden" name="hidden" th:value="${id}" id="hidden">
<input type="hidden" name="name" id="name">
<input type="hidden" name="web_url" id="web_url">
<input type="hidden" name="address_string" id="address_string">
<input type="hidden" name="latitude" id="latitude">
<input type="hidden" name="longitude" id="longitude">
<input type="hidden" name="email" id="email">
<input type="hidden" name="phone" id="phone">
<input type="hidden" name="rating" id="rating">
<input type="hidden" name="picture" id="picture">




<div id="title"></div>
Start Time:
<h6 th:text="${start}"></h6>
End Time:
<h6 th:text="${end}"></h6>
<button class="btn btn-info m-2">Save to Trip</button>
</form>
<div class="m-1" id="display"></div>
<footer th:replace="~{partials :: footer}"></footer>
</body>
</html>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
<script th:inline="javascript" type="text/javascript" th:src="@{/JS/location-viewer.js}"></script>
</body>
</html>