<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My Profile</title>
    <div th:insert="~{partials :: header}"></div>
    <style>
        .profile-pic {
            width: 200px;
            height: 200px;
            border-radius: 50%;
            object-fit: cover;
        }
    </style>
</head>
<body>
<nav th:insert="~{partials :: navbar}"></nav>
<div class="container mt-5">
    <div class="row">
        <div class="col-md-4">
            <img src="{{profilePicture}}" alt="Profile Picture" class="profile-pic">
            <h2 class="mb-3" th:text ="${username}"></h2>
            <a class="btn btn-primary" href="/editProfile">Edit Profile</a>
        </div>
        <div class="col-md-8">
            <h5 class="text-secondary mb-3">Previous Planed Trips:</h5>
            <div class="card-columns">
                <div class="card" th:each="search : ${previousTrips}">
                    <div class="card-body">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<footer th:replace="~{partials :: footer}"></footer>
</body>
</html>