<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <title>Join Us!</title>
    <div th:insert="~{partials :: header}"></div>
</head>
<body class="container-fluid">
<nav th:insert="~{partials :: navbar}"></nav>
<div class="container">

    <h2>User Registration Form</h2>
    <form th:action="@{/register}" th:object="${user}" method="post">
        <!--Error message if user is trying to register a username that already exists in db-->
        <div th:if="${usernameAlreadyInUse}">This username is already in use, please enter another username.</div>
        <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" class="form-control" id="username" th:field="*{username}"/>
        </div>
        <!--Error message if user is trying to register an email that already exists in db-->
        <div th:if="${emailAlreadyInUse}">This email is already in use, please enter another email</div>
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" class="form-control" id="email" th:field="*{email}"/>
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" class="form-control" id="password" th:field="*{password}"/>
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
</div>
<footer th:replace="~{partials :: footer}"></footer>
</body>
</html>