<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <title>Join Us!</title>
    <link rel="icon" type="image/x-icon" th:href="@{/images/logo.png}">
    <div th:insert="~{partials :: header}"></div>
    <div th:replace="~{partials :: css}"></div>
</head>
<body>
<nav th:insert="~{partials :: navbar}"></nav>
<div class="container">

    <h1 class="d-flex justify-content-center mt-3">User Registration Form</h1>
    <form class="m-2" th:action="@{/register}" th:object="${user}" method="post">

        <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" class="form-control bg-transparent text-warning" id="username" th:field="*{username}"/>
            <!--Error message if user is trying to register a username that already exists in db-->
            <div th:if="${usernameAlreadyInUse}">The username <span th:text="${usernameInUse}"/> is already in use,
                please enter another username.
            </div>
            <div class="m-1" id="usernameIsEmpty">Username Is Required</div>
            <br>
        </div>

        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" class="form-control bg-transparent text-warning" id="email" th:field="*{email}"/>
            <!--Error message if user is trying to register an email that already exists in db-->
            <div th:if="${emailAlreadyInUse}">The email <span th:text="${emailInUse}"/> is already in use, please enter
                another email
            </div>
            <div class="m-1" id="emailIsEmpty">Email Is Required</div>
            <br>
        </div>

        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" class="form-control bg-transparent text-warning" id="password" th:field="*{password}"/>
            <div class="m-1" id="passwordIsEmpty">Please Enter A Password</div>
            <div class="m-1" id="passwordLengthEightOrGreater">Password Must Contain At Least 8 Characters</div>
            <div class="m-1" id="passwordHasUppercase">Password Must Contain At Least One Uppercase Letter</div>
            <div class="m-1" id="passwordHasLowercase">Password Must Contain At Least One Lowercase Letter</div>
            <div class="m-1" id="passwordHasNumber">Password Must Contain At Least One Number</div>
            <div class="m-1" id="passwordHasSpecialCharacter">Password Must Contain At Least One Special Character (!”#$%&'()*+,-./:;<=>?@[\]^_`{|}~ )</div>
            <br>
        </div>

        <div class="form-group">
            <label for="confirmPassword">Confirm Password:</label>
            <input type="password" class="form-control bg-transparent text-warning" id="confirmPassword"/>
            <div class="m-1" id="confirmPasswordIsEmpty">Please Confirm Your Password</div>
            <div class="m-1" id="passwordsDoNotMatch">Passwords do not match</div>
            <br>
        </div>

        <button id="SubmitButton" type="submit" class="btn btn-info">Submit</button>

    </form>
</div>
<div class="container">
    <div class="card bg-dark m-2">
        <div class="card-text">
            <h1 class="d-flex justify-content-center align-items-center">Visit the pyramid</h1>
            <h1 class="d-flex justify-content-center align-items-center">complex of Giza Eygpt</h1>
        </div>
        <img th:src="@{images/pyramid.jpg}" class="card-img " alt="bamboo forest">

    </div>
</div>


<footer th:replace="~{partials :: footer}"></footer>
<script th:inline="javascript" type="text/javascript" th:src="@{/JS/register.js}"></script>
</body>
</html>