<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Planned Trip</title>
	<link rel="icon" type="image/x-icon" th:href="@{/images/logo.png}">
	<div th:insert="~{partials :: header}"></div>
	<div th:replace="~{partials :: css}"></div>
</head>
<body>
	<nav th:insert="~{partials :: navbar}"></nav>
	<div class="col-md-6">
		<h1 class="d-flex justify-content-center text-warning mb-3">Previous Planned Trips:</h1>

		<p class="d-flex justify-content-center text-warning m-3">This is the detailed plan for your chosen trip!Here you can view all aspects of your chosen itinerary, and remove aspects from the itinerary</p>

		<h5 class="d-flex justify-content-center text-warning mb-3">This is the detailed plan for your chosen trip!</h5>


		<div class="card-columns">
			
			<div class="card bg-dark m-2" th:each="locations, i : ${locations}">
				
				<div class="card-body m-2">
					Date:
					<p th:text="${trips[i.index].getStart_date}"></p>
					Location:
					<h3 th:text="${locations.getName()}"></h3>
					Address:
					<p th:text="${locations.getAddress_string()}"></p>
					Start Time:
					<p th:text="${trips[i.index].getStart_time}"></p>
					End Time:
					<p th:text="${trips[i.index].getEnd_time}"></p>
					<span th:if="${locations.getRating() != 0}">
					Rating:
					<p th:text="${locations.getRating()}"></p>
					</span>
					<span th:unless="${locations.getRating() != 0}"></span>
					<span th:if="${locations.getPhone() != null}">
					Phone:
					<p th:text="${locations.getPhone()}"></p>
					</span>
					<span th:unless="${locations.getPhone() != null}"></span>
					<span th:if="${locations.getWeb_url() != null}">
					<a th:href="${locations.getWeb_url()}">Website</a>
					</span>
					<span th:unless="${locations.getWeb_url() != null}"></span>
					<span th:if="${!locations.getPicture.equals('')}">
					<img th:src="${locations.getPicture}" class="card-img" alt="">
					</span>
					<span th:unless="${!locations.getPicture().equals('')}"></span>
					<form th:action="@{/view}" th:method="post" onsubmit="return confirm('Are you sure you want to remove?');">
						<button type="submit" name="locationId" th:value="${trips[i.index].getId}" class="btn btn-info mt-2">Remove location</button>
					</form>
				</div>
			</div>
		</div>
		
		<footer th:replace="~{partials :: footer}"></footer>
</body>
</html>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>

</body>
</html>